.education-item {
  background-color: white;
  margin: 12px 0px;
  padding: 1em;
}

.education-item button {
  appearance: none;
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: end;
  background-color: white;
}

.education-item img {
  height: 20px;
  width: 20px;
}
