ul.educations {
  margin-top: 0.5em;
  display: grid;
  gap: 0.5em;
}

section.educations .education-item {
  background-color: white;
  /* margin: 12px 0px; */
  padding: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.education-item button {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: white;
}

.education-item img {
  height: 20px;
  width: 20px;
}
